@font-face {
    font-family: DigitalNumbersFont;
    src: url('../fonts/DigitalNumbers-Regular.ttf');
}

.time {
    font-family: DigitalNumbersFont;
}

.digital-clock {
    width: 50%;
    position: absolute;
}

.card-body {
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    font-size: 4.0rem;
}

.form-select {
    width:50%;
}

.time {
    cursor: move;
}


@media screen and (max-width: 1250px) {
    .time {
        font-size: 3.0rem
    }
  }

  @media screen and (max-width: 1000px) {
    .time {
        font-size: 2.0rem
    }
  }

  @media screen and (max-width: 750px) {
    .time {
        font-size: 1.5rem
    }
  }

  @media screen and (max-width: 600px) {
    .time {
        font-size: 1.0rem
    }
  }

  @media screen and (max-width: 450px) {
    .time {
        font-size: 0.8rem
    }
  }

  @media screen and (max-width: 400px) {
    .time {
        font-size: 0.5rem;
    }
  }

  
  @media screen and (max-width: 300px) {
    .card-body {
        padding: 10px 0px 10px 0px;
        font-size: 0.5rem;
    }
  }