.digital-clock {
    width: 40%;
    position: absolute;
}

.card-body {
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    font-size: 5vw;
}

.form-select {
    width:50%;
}

.time {
    cursor: move;
}